@{
    ViewData["Title"] = "Index";
}

<div class="contenedor-fondo">
    <div class="texto-superpuesto">
        <p>Bienvenido a la presentacion</p>

         <Form action = '@Url.Action("Login", "Home")' method = "POST" enctype="multipart/form-data">
         <input type="hidden" name="salaActual" value="1"/>
            <input type="text" name="respuesta"  class="form-control" required />
            <br />
            <button type="submit" class="btn respuesta-btn">Iniciar Sesion</button>
        </form>
    </div>
</div>
